.divBarraLogo{
    background-color: #696969;     
    }

.clear{    
    clear: both;    
}
    
a:link.links {
    color: white;
}
a:visited.links {
    color: #FFC107;
}
a:hover.links {
    color: #FFC107;
}

    
    
    /* selected link */
    
    a:active.links {
    
    color: yellow;
    
    } 
    
    
    
    .margem{
    
    margin-left: 10%;
    
    margin-right: 10%;
    
    }
   
  
    
    
    .fundoCard{
        background-color: #D8D8D8;
    }
    .margemEnviar{
    
    margin-left: 39%;
    
    }
    
    .largura-fotos-produtos{
        width: 20%;

    }
    .margemExibe{
        margin-top: 10px;
        width: 50%;
    }
    
    .color{
    
    background-color: #a5a5a5;
    
    }
    
    
    
    .margemCamposCadastro{
    
    margin-right: 5%;
    
    }

    .margemCadastroBotao{
    
    margin-left: 30%;
    
    }
    .divMsgErroEfeito{
        color: #FF0000;
    }